.underline {
  cursor: pointer;
}
/* 
.nav-container, .pagination, .toolbar {
  display: none !important;
} */
.doc {    
  max-width: 70rem !important;
}

/* .mandatory-display {
  display: block !important;
} */

.underline {
  cursor: pointer;
}
.doc {    
  max-width: 70rem !important;
}
